# Puzzle 1

https://hanukkah.bluebird.sh/5783/1/

In [1]:
import pandas as pd

df = pd.read_csv(r'data/noahs-csv/noahs-customers.csv')
df

,customerid,name,address,citystatezip,birthdate,phone
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043
...,...,...,...,...,...,...
11075,12075,Catherine Wells,693 E 101st St,"Brooklyn, NY 11236",1972-07-06,716-656-2836
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981
11077,12077,Darius Johnson,2247 Grand Ave,"Bronx, NY 10453",1989-06-18,716-797-4450
11078,12078,Ryan Jones,1538 Park Pl SW,"Los Angeles, CA 90016",1949-03-12,415-584-2656
11079,12079,Gregory Weiss,113 Mackenzie St,"Brooklyn, NY 11235",1990-08-27,516-736-1869

__"if you dialed the numbers corresponding to the letters in their name, it would call their phone number!"__

- Phone numbers have 3+3+4=10 digits
- 0 and 1 don's map to any character, maybe 1 maps to space?
- Keypad:
    - ABC: 2
    - DEF: 3
    - GHI: 4
    - JKL: 5
    - MNO: 6
    - PQRS: 6
    - TUV: 8
    - WXYZ: 9

In [2]:
from collections import defaultdict

keypad = {"ABC":  2,
          "DEF":  3,
          "GHI":  4,
          "JKL":  5,
          "MNO":  6,
          "PQRS": 7,
          "TUV":  8,
          "WXYZ": 9} 

keyValues = list(keypad.keys())

def letter2value(L):
    for K in keyValues:
        if L in K:
            return keypad[K]

letterValue = defaultdict(lambda: 0)
for L in "ABCDEFGHIJKLMNOPQRTSUVWXYZ":
    letterValue[L] = letter2value(L)
    
letterValue[" "] = 1

In [3]:
def name2phone(name):
    return "".join(str(i) for i in [ letterValue[N] for N in name.upper() ] )

for name,phone,citystatezip in zip(df[df.columns[1]],df[df.columns[5]],df[df.columns[3]]):
    
    # select only NY residents
    #state,_ = citystatezip.split(", ")[1].split(" ")
    #if state != "NY": continue
    
    # remove dash to phone:
    phone_j = "".join(phone.split("-")) 
    
    # use only surname
    names = name.split(" ")
    name_ = names[1] 
    
    number = name2phone(name_)
    if str(number) == phone_j:
        print(name,number,phone)
        break

Sam Guttenberg 4888362374 488-836-2374