# Puzzle 6

Hints:

- She’s always been very frugal, and **she clips every coupon and shops every sale at Noah’s Market**. In fact I like to tease her that Noah actually loses money whenever she comes in the store.

In [1]:
import pandas as pd

customers = pd.read_csv(r'data/noahs-csv/noahs-customers.csv')
products = pd.read_csv(r'data/noahs-csv/noahs-products.csv')
orders = pd.read_csv(r'data/noahs-csv/noahs-orders.csv')
orders_items = pd.read_csv(r'data/noahs-csv/noahs-orders_items.csv')

In [30]:
# search for sales (price smaller than wholesale_cost)
orders_sales = orders_all[ orders_all["unit_price"] < orders_all["wholesale_cost"] ]

In [39]:
# select customers that shopped at sales, look for most frequent sale buyer
customers.merge( orders_sales, on="customerid").groupby(['name']).count().sort_values('customerid', ascending=False)

,customerid,address,citystatezip,birthdate,phone,orderid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost
name,,,,,,,,,,,,,,,
Emily Randolph,26,26,26,26,26,26,26,26,0,26,26,26,26,26,26
Travis Bartlett,8,8,8,8,8,8,8,8,0,8,8,8,8,8,8
Jonathan Williams,6,6,6,6,6,6,6,6,0,6,6,6,6,6,6
Joshua Hansen,6,6,6,6,6,6,6,6,0,6,6,6,6,6,6
Amanda Neal,5,5,5,5,5,5,5,5,0,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jennifer Daniels,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1
Jennifer Choi,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1
Jennifer Brown,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1
Jennifer Amanda Johnson,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1
Zachary Murray,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1

In [41]:
customers[customers['name']=="Emily Randolph"]["phone"].drop_duplicates()

7341    914-868-0316
Name: phone, dtype: object